<div class="w-[180px] mt-7 px-4">
 <div class="flex justify-center">
  <div>
    <div class="flex justify-center">
      <img src="assets/logo.png" alt="logo">
    </div>
    <h1 class="text-center font-bold text-base text-[#0194E6] mt-6">Учебный Центр кольпоскопии доктора Петренко</h1>
    <hr class="mt-[30px] border-[#80C2FF] pb-9">

    <ul class="border-l border-[#80C2FF] pl-[29px]">
      @for (item of model; track $index) {
        <li class="pb-5 last:pb-0">
          <app-menu-item [label]="item.label" [roterlink]="item.routerlink"></app-menu-item>
        </li>
      }
    </ul>

    <hr class="mb-[30px] border-[#80C2FF] mt-9">

    <p class="font-bold text-base text-[#636363]">{{ phone }}</p>

    <app-button title="Заказать звонок" btnClass="btn-primary small-text" customClass="mt-[15px]"></app-button>

    <div class="mt-[21px]">
      <app-button icon="instagram" btnClass="btn-icon" customClass="p-2 mr-[14px]"></app-button>
      <app-button icon="whatsap" btnClass="btn-icon" customClass="p-2 mr-[14px]"></app-button>
      <app-button icon="telegram" btnClass="btn-icon" customClass="px-[9px] py-[11px]"></app-button>
    </div>

    <hr class="mb-[10px] border-[#80C2FF] mt-9">

    <div class="flex items-start">
      <img src="assets/icons/geolocation.svg" alt="geo">
      <p class="text-[#0089ED] font-normal text-[12px] pl-2">г. Краснодар, пр-т Чекистов, д. 42</p>
    </div>

  </div>
 </div>
</div>
