<div class="bg-[#DCF0FF]">
  <div class="pt-[78px] pl-[240px]">
    <div>
      <p class="text-[#000000] font-bold text-xl">Задать вопрос</p>
      <p class="text-[#000000] font-light text-sm mt-[141px]">получите индивидуальные<br>условия обучения</p>
      <div class="bg-[#0194E6] pt-[25px] pl-[33px] max-w-[303px] w-full rounded-t-[30px]">
        <div>
          <img src="assets/logo.png" alt="logo">
        </div>
        <p class="text-[#FFFFFF] text-lg w-[204px] font-bold leading-[20.79px]">Учебный Центр кольпоскопии доктора Петренко</p>
      </div>
    </div>
  </div>
</div>
