<div class="bg-[#DCF0FF]">
  <div class="pt-[78px] pl-[240px] flex ">
    <div>
      <p class="text-[#000000] font-bold text-xl">Задать вопрос</p>
      <p class="text-[#000000] font-light text-sm mt-[141px]">получите индивидуальные<br>условия обучения</p>
      <div class="bg-[#0194E6] pt-[25px] pl-[33px] max-w-[303px] w-full rounded-t-[30px] mt-[70px]">
        <div>
          <img src="assets/logo.png" alt="logo">
        </div>
        <p class="text-[#FFFFFF] text-lg w-[204px] font-bold leading-[20.79px]">Учебный Центр кольпоскопии доктора Петренко</p>
        <hr class="border-[#80C2FF] mt-[28px] mb-[19px]">

        <p class="font-normal text-xs text-[#fff] mb-2">ООО «Центр кольпоскопии и цервикальной патологии»</p>
        <p class="text-[#81C3FF] text-xs font-normal">Условия конфиденциальности предоставления и защиты информации</p>
      </div>
    </div>
    <div>
      <div class="flex items-start">
        <div>
          <div class="w-[309px]">
            <app-input placeHolder="Представьтесь" icon="user" inputClass="input-info" customClass="border-b border-[#80C2FF] pb-2"></app-input>
          </div>
          <div class="w-[309px] mt-[43px]">
            <app-input placeHolder="Ваш Email" icon="mail" inputClass="input-info" customClass="border-b border-[#80C2FF] pb-2"></app-input>
          </div>

          <div class="flex items-start mt-[61px]">
            <input type="checkbox">
            <p class="font-normal text-[10px] text-[#000] pl-3">Отправляя заявку, вы принимаете условия <br> политики конфиденциальности</p>
          </div>
        </div>
        <div class="ml-[49px]">
          <div>
            <app-textarea textareaClass="text-white" customClass="w-[372px]" placeHolder="Напишите ваш вопрос" textareaCols="60" textareaRows="4"></app-textarea>
          </div>
        </div>
      </div>
      <div class="mt-[85px]">
        <div class="max-w-[793px] w-full rounded-[30px] bg-[#003C67] pt-[25px] pl-[50px] pr-[62px] pb-[43px]">
          <div>
            <p>+7 861 201-22-03</p>
            <div>
              <img src="assets/icons/geolocation.svg" alt="geo">
              <p>г. Краснодар, пр-т Чекистов, д. 42</p>
            </div>
            <div>
              <img src="assets/icons/inst.svg" alt="">
              <img src="assets/icons/whatsapp" alt="">
              <img src="assets/icons/telegram.svg" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
