<div class="bg-[#0194E6] max-w-[404px] w-full pt-[36px] pb-[32px] pl-10 pr-[42px] rounded-[30px]">
  <p class="font-medium text-[#FFFFFF] text-2xl">Запишитесь на курс</p>
  <p class="text-base text-[#fff] font-light">получите индивидуальные условия обучения</p>

  <form action="">
    <app-input icon="user" customClass="mt-[25px] border-b pb-2 border-[#FFFFFF]" inputClass="input-primary" placeHolder="Представьтесь"></app-input>

    <app-input icon="mail" customClass="mt-[25px] border-b pb-2 border-[#FFFFFF]" inputClass="input-primary" placeHolder="Ваш Email"></app-input>

    <app-input icon="phone" customClass="mt-[25px] border-b pb-2 border-[#FFFFFF]" inputClass="input-primary" placeHolder="Ваш Телефон"></app-input>

    <app-input icon="arrow" customClass="mt-[25px] border-b pb-2 border-[#FFFFFF]" inputClass="input-primary" placeHolder="Выберите курс"></app-input>

    <app-input icon="arrow" customClass="mt-[25px] border-b pb-2 border-[#FFFFFF]" inputClass="input-primary" placeHolder="Дата начала"></app-input>

    <app-button title="Записаться" btnClass="btn-white" customClass="mt-[30px]"></app-button>
  </form>
</div>

