<div class="mr-[45px] w-full">
  <div>
    <div class="flex justify-end items-end text-[12px] text-[#0194E6]">
        <p class="text-right mr-[45px]">ООО "Центр кольпоскопии и цервикальной патологии"</p>
    </div>

    <div class="flex">
      <div>
        <img src="assets/page-1.png" alt="page-1">
        <app-form></app-form>
      </div>
      <div>
        <img src="assets/page-2.png" alt="page-2">
        <div class="flex items-start relative">
          <img src="assets/page-3.png" alt="page-3">
          <div>
            <img src="assets/page-4.png" alt="page-4">
            <div class="flex items-center w-[607px] mt-[52px] ml-7">
              <div class="relative w-[250px]">
                <img src="assets/icons/Union.svg" alt="union">
                <div class="absolute top-0 left-[45px]">
                  <p class="text-[#007FDB] font-bold text-[60px] leading-[73.14px]">> 500</p>
                  <p class="text-[#000000] font-medium text-xl leading-5">Курсов <br>проведено</p>
                </div>
              </div>
              <div class="relative w-[250px]">
                <img src="assets/icons/Group 129.svg" alt="union">
                <div class="absolute top-0 left-[45px]">
                  <p class="text-[#007FDB] font-bold text-[60px] leading-[73.14px]">1257</p>
                  <p class="text-[#000000] font-medium text-xl leading-5">Дипломов <br>выдано</p>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="flex items-start mt-[140px] ml-[93px]">
        <p class="w-[445px] text-[#000000] text-3xl font-medium mr-[109px]">Программы дополнительного профессионального образования</p>
        <p class="w-[441px] text-[#000000] text-base font-normal">Обучение проводится в специализированном классе учебного центра с использованием мультимедийного оборудования и гинекологического кабинета клиники по адресу: г. Краснодар, проспект Чекистов, 42</p>
    </div>

    <div class="mt-[62px]">
      <div class="flex items-center w-full gap-[3px]">
        <app-info-card cardClass="sm-card" customClass="bg-[#0194E6]" title="Базовый курс кольпоскопии" [moreDetail]="true" numberCard="1" price="40000" time="36" days="6"></app-info-card>
        <app-info-card cardClass="md-card" customClass="bg-[#00B7DF]" title="Современные аспекты клинической кольпоскопии" [moreDetail]="true" numberCard="2" price="33000" time="36" days="6"></app-info-card>
      </div>
      <div class="flex items-center w-full mt-[3px] gap-[3px]">
        <app-info-card cardClass="md-card" customClass="bg-[#0194E6]" title="Электрорадиоволновая хирургия в амбулаторной гинекологии" [moreDetail]="true" numberCard="3" price="25000" time="18" days="6"></app-info-card>
        <app-info-card cardClass="sm-card" customClass="bg-[#0194E6]" title="Базовый курс кольпоскопии" [moreDetail]="true" numberCard="4" price="15000" time="18" days="6"></app-info-card>
      </div>
      <div class="flex items-center mt-[3px] gap-[3px]">
        <div class="bg-[#0070C1] max-w-[479px] rounded-[30px] pl-[43px] pt-[28px] pr-[32px] flex">
          <img src="assets/icons/calendar.svg" alt="calendar" class="mt-5">
          <div class="pl-[43px]">
            <p class="text-[#FFFFFF] font-bold text-2xl">Расписание занятий</p>
            <app-button (clicked)="openModal()" title="Смотреть" customClass="mt-5" btnClass="btn-white"></app-button>
          </div>
        </div>
        <div class="bg-[#DCEEFF] rounded-[30px] pt-[46px] pr-[58px] pl-7 flex w-[630px]">
          <div class="flex">
            <img class="pt-3 w-[116px]" src="assets/icons/shapka.svg" alt="shapka">
            <div>
              <p class="text-[#000000] font-light text-xs pb-3">форма обучения:</p>
              <p class="text-[#000000] font-bold text-2xl">очная</p>
            </div>
          </div>
          <div class="flex items-center justify-between ml-[38px]">
            <img class="pt-3" src="assets/icons/certificate.svg" alt="certificate">
            <div>
              <p class="text-[#000000] font-light text-xs pb-3">аттестация:</p>
              <p class="text-[#000000] font-bold text-2xl">тестовый<br>контроль</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="mt-[128px]">
      <div class="flex items-start gap-[3px]">
        <div>
          <div class="max-w-[432px] w-full bg-[#DCEEFF] py-[37px] pl-[43px] rounded-[30px]">
            <p class="text-[#000000] font-normal text-2xl">Автор курса</p>
            <p class="text-[#000000] font-medium text-3xl pt-[141px]">ПЕТРЕНКО СЕРГЕЙ ИВАНОВИЧ</p>
          </div>
          <div class="mt-[32px] ml-[43px]">
            <p class="text-[#000000] font-light text-sm">Стаж работы <span class="text-[#0089ED] font-medium text-[22px]">27 лет</span></p>
            <p class="w-[319px] text-[#000000] text-sm font-normal mt-[26px]">Учредитель и руководитель ООО «Центр кольпоскопии и цервикальной патологии», врач акушер-гинеколог, преподаватель дополнительного профессиональонго образования.</p>
            <p class="w-[319px] text-[#000000] text-sm font-normal mt-[26px]">Автор российского атласа по кольпоскопии.
            </p>
          </div>
        </div>
        <div>
          <img src="assets/byvocha.png" alt="byvocha">
        </div>
      </div>
    </div>
  </div>
</div>

@if (isOpen) {
  <app-modal></app-modal>
}
