<div class="mr-[45px] w-full">
  <div>
    <div class="flex justify-end items-end text-[12px] text-[#0194E6]">
        <p class="text-right mr-[45px]">ООО "Центр кольпоскопии и цервикальной патологии"</p>
    </div>

    <div class="flex">
      <div>
        <img src="assets/page-1.png" alt="page-1">
        <app-form></app-form>
      </div>
      <div>
        <img src="assets/page-2.png" alt="page-2">
        <div class="flex items-start relative">
          <img src="assets/page-3.png" alt="page-3">
          <div>
            <img src="assets/page-4.png" alt="page-4">
            <div class="flex items-center w-[607px] mt-[52px] ml-7">
              <div class="relative w-[250px]">
                <img src="assets/icons/Union.svg" alt="union">
                <div class="absolute top-0 left-[45px]">
                  <p class="text-[#007FDB] font-bold text-[60px] leading-[73.14px]">> 500</p>
                  <p class="text-[#000000] font-medium text-xl leading-5">Курсов <br>проведено</p>
                </div>
              </div>
              <div class="relative w-[250px]">
                <img src="assets/icons/Group 129.svg" alt="union">
                <div class="absolute top-0 left-[45px]">
                  <p class="text-[#007FDB] font-bold text-[60px] leading-[73.14px]">1257</p>
                  <p class="text-[#000000] font-medium text-xl leading-5">Дипломов <br>выдано</p>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="flex items-start mt-[140px] ml-[93px]">
        <p class="w-[445px] text-[#000000] text-3xl font-medium mr-[109px]">Программы дополнительного профессионального образования</p>
        <p class="w-[441px] text-[#000000] text-base font-normal">Обучение проводится в специализированном классе учебного центра с использованием мультимедийного оборудования и гинекологического кабинета клиники по адресу: г. Краснодар, проспект Чекистов, 42</p>
    </div>

    <div class="mt-[62px]">
      <app-info-card cardClass="sm-card" customClass="bg-[#00B7DF]"></app-info-card>
    </div>
  </div>
</div>

