<div class="mr-[45px] w-full">
  <div>
    <div class="flex justify-end items-end text-[12px] text-[#0194E6]">
        <p class="text-right mr-[45px]">ООО "Центр кольпоскопии и цервикальной патологии"</p>
    </div>

    <div class="flex">
      <div>
        <img src="assets/page-1.png" alt="page-1">
        <app-form></app-form>
      </div>
      <div>
        <img src="assets/page-2.png" alt="page-2">
        <div class="flex items-start">
          <img src="assets/page-3.png" alt="page-3">
          <img src="assets/page-4.png" alt="page-4">
        </div>
      </div>
    </div>
  </div>
</div>

